body {
    height: 100vh;
    background: -webkit-linear-gradient(90deg, grey, white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Anton', sans-serif;
    ;
}

.carrito{
    text-align: center;

}

html {
    min-height:100%;
}

body {
    height:100%;
}
.links {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: white;
    text-decoration: none;
    font-size: 22px;
 }
 .links:hover {
    background-color:gray ;
 }

